
.footballer-show-container {
  margin-bottom: 0px;
  background-color: rgb(222, 215, 215);
  box-shadow: 0px 2px 10px rgba(13, 9, 90, 0.9);
  height: 500px;
  font-family: "Source Sans Pro",sans-serif;
  .footballer-title-row {
    margin-bottom: 20px;
  }
  margin: 40px 0 20px 0;
  .footballer-info {
    margin-top: 20px;
    .footballer-info-row {
      margin-bottom: 20px;
    } 
  }
}
.owner-buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: "Source Sans Pro",sans-serif;
  .btn {
    background-color: #133058;
    color: white;
    font-size: 30px;
    margin: 0 -20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.8);
    border: none;
  }
  .btn:hover {
    background-color: rgb(149, 38, 38);
    color: white;
  }
  .edit{
    background-color: #133058;
  }
  .edit:hover {
    color: white;
    background-color: rgb(7, 72, 7);
  }
}
.carousel-column-show-page {
  margin-bottom: 20px;
}