@import './variables.scss';

main{
  font-family: 'New Baskerville',Baskerville,serif;

  .big-slider{
    margin-bottom: 80px;
  }  
  .genre-row{
    margin-bottom: 130px;
    text-align: center;
  
    h2{
      font-weight: 400;
      font-size: 2em;
    }
  
    hr{
      margin: auto;
      margin-bottom: 50px;
      width: 69%;
      border: 1px solid rgba(0,0,0,0.1);
    }
  
    .slick-slider{
      height: 250px;
      width: 65%;
      margin: auto;
      margin-top: 70px;
    
      // Arrows
      .slick-arrow{
        @include bg-arrows;
      }
    
      .slick-arrow::before{
        display: none;
      }
    
      .slick-prev{
        background-image: url('../images/left-arrow.png');
      }
    
      .slick-prev:focus,
      .slick-prev:hover
      {
        background-image: url('../images/left-arrow.png');
        @include bg-arrows;
      }
    
      .slick-next{
        background-image: url('../images/right-arrow.png');
      }
    
      .slick-next:hover,
      .slick-next:focus
      {
        background-image: url('../images/right-arrow.png');
        @include bg-arrows;
      }
    
      .slick-slide div{
        margin: 20px;
        height: 370px;
        width: 150px;
        margin: auto;
        position: relative;
  
        a{
          text-decoration: none;
          color: black;
        }
    
        .image-wrapper{
          width: 100%;
          height: 230px;
  
          img{
            width: 100%;
            height: 100%;
          }
        }
    
        .card-body-home{
          height: 120px;

          .card-title{
            margin-top: 10px;
            overflow: hidden;
            height: 32%;
            width: 100%;

            h4{
              margin-top: 0px;
              font-size: 1em;
              font-weight: 600;
            }
          }

          .authors-home{
            margin-top: 5px;
            height: 27%;
            overflow: hidden;

            h5{
              font-size: 0.8em;
              color: #beb99c;
              font-weight: 400;
              margin-left: 0px;
            }
          }
      
          .price{
            font-size: 1.1em;
            margin-top: 15px;
            font-weight: 400;
          }
        }
      }
    }
  }
}